body{
	background-image: url(gambar/tes.png);
	background-repeat: repeat-x;
	background-position: top right;
}

h1{
	color: antiquewhite;
	text-align: center;
}

ul{
	color: whitesmoke;
	text-align: justify-all;

}

table{
	color: whitesmoke;
	text-align: center;
	text-decoration: initial;

}

p{
	color: whitesmoke;
	text-align: center;
	letter-spacing: normal;
}

