h1{
	color: antiquewhite;
	text-align: center;
}

ul{
	color: whitesmoke;
	text-align: justify-all;

}

table{
	color: whitesmoke;
	text-align: center;

}

p{
	color: whitesmoke;
	text-align: center;
	letter-spacing: normal;
}

